p.points {
  overflow: hidden;
}
p.points:after {  content:'............................................................................................................';
display: block;
white-space: nowrap;
overflow: hidden;
}
p.points span:first-of-type {
float:left;
margin-right: 10px;
}
p.points span:last-of-type {
float:right;
margin-left: 10px;
}

p.points:last-of-type{
margin-left: 5px;
margin-right: 5px;
}